
/* */

.cke_reset_all .CodeMirror-scroll * {
	white-space: pre-wrap;
}

.slide-pane__overlay {
	z-Index: 10000;
}

.slide-pane {
	z-Index: 10000;
}

.slide-pane__content {
	padding: 0;
}

/* This one cost me */
.srd-diagram {
	width: 100%;
	/* height: 100vh; */
	height: calc(100vh - 64px);
	background-color: aliceblue;
}

/* */

.__diagram-container__ {
	width: 600px;
	height: 600px;
}

.__diagram-container__ {
	width: 100%;
	height: calc(100vh - 64px);
	min-height: calc(100vh - 64px);
	background-color: #191919;
}
